@charset "utf-8";
*{
	zoom:1;
	font-size:12px;
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
}
/* テキストエリア内文字サイズのブラウザ間での差異をなくす */
textarea, #listTitle {
		font-size: 100%;
		padding:1px;
		width: 400px;
		margin-top:10px;
	}

/* 画像の下にできる隙間をなくす */
img { vertical-align: bottom; }

/* Reset CSS for the case Embed to other Web Page */ 
#pbdisplay_outer span,
#pbdisplay_outer div {
	margin:0;
	padding:0;
    border: none;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
}
/*------------------------------------------------
	Tab
----------------------------------------------- */
#tabNavi {
	list-style:none;
	position:absolute;
	top:9px;
	left:9px;
	width:780px;
}
#tabNavi li {
	display:block;float:left;
	overflow:hidden;
	line-height:18px;
	height:18px;
	width:60px;	
	border:1px solid #999;
	background:#ccc;
	margin-left:2px;
	text-align:center;
}

.focus {
	z-index:99 !important;
	background:#fff !important;
	line-height:19px !important;
	height:19px !important;
	border-bottom:none !important;
	font-weight:bold;
}
.tab {
	display:block;
	height:18px;
	color:#666;
}
.tab:hover,
.focus .tab {
	background:#fff !important;
	color:#333;
}
.tabContent {
	display:none;
	text-align:left;
	position:absolute;
	top:19px;
	left:0;
	border-top:1px solid #999;
	z-index:-1;
	width:100%;
	font-weight:normal;
	padding:10px;
	line-height:1.8em;
}
.focus .tabContent {
	display:block;
}

.caption {
	font-sixze: 14px;
	line-height: 14px;
	width:100%;
	height: 14px;
	color:#009;
	font-weight:bold;
	padding: 0 5px;
	margin: 5px 0;
	border-left: 5px solid #009;
}
.u {
	line-height: 22px;
	height: 22px;
	padding: 0 0 0 10px;
	margin: 0 10px 0 0;
	border-bottom: 1px solid #CCF;
}

select{
	padding:1px;
	width:160px;
}

#selectMagazine div {
  filter:progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=25);
  -moz-opacity:0.25;
  opacity:0.25;
}
.magazine div {
  filter:progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=100) !important;
  -moz-opacity:1 !important;
  opacity:1 !important;
}

#sheetCount #useFP-12T, #sheetCount #useFP-40T {
	display: none;
}

.FP-12T #useFP-12T, .FP-40T #useFP-40T {
	display: block !important;
}
/*------------------------------------------------
	Preview
----------------------------------------------- */
.sheet {
		padding:5px 25px;
		float:left;
	}
.spacer {
		height:13px;font-size:7px;line-height:7px;
		width:100%;
		clear:both;
		margin:0!important;
		padding:0!important;
		text-indent:-9999px;
	}
.printline {
		clear:both;
		margin:0!important;
	}
.FP-12T .printline { width:140px;}
.FP-40T .printline { width:280px;}

#outputBody {
		overflow:auto;
	}

/* Desine Printer */
.FP-12T #outputTop, .FP-12T #outputBottom,
.FP-40T #outputTop, .FP-40T #outputBottom {
		height: 20px;
		background-position: 0 0;
		background-repeat: repeat-x;
		text-indent:-9999px;
}

/* FP-12T */
.printer .FP-12T .sheet {
		background: url( sheet_FP-12T_body.png) repeat 0 0;
		width:140px;/* _width:180px; */
}
.printer .FP-12T #outputTop { background-image: url( sheet_FP-12T_top.png);}
.printer .FP-12T #outputBottom { background-image: url( sheet_FP-12T_bottom.png);}
.FP-12T .separeteNum1 { width: 190px;}
.FP-12T .separeteNum2 { width: 380px;}
.FP-12T .separeteNum3 { width: 570px;}
.FP-12T .separeteNum4 { width: 760px;}
.FP-12T .separeteNum5 { width: 950px;}
.FP-12T .separeteNum6 { width: 1140px;}

/* FP-40T */
.printer .FP-40T .sheet {
		background: url( sheet_FP-40T_body.png) repeat 0 0;
		width:280px;/* _width:180px; */
}
.printer .FP-40T #outputTop	{ background-image: url( sheet_FP-40T_top.png);}
.printer .FP-40T #outputBottom { background-image: url( sheet_FP-40T_bottom.png);}
.FP-40T .separeteNum1 { width: 330px;}
.FP-40T .separeteNum2 { width: 660px;}
.FP-40T .separeteNum3 { width: 990px;}

/* Desine Magazine */
.style_pj #outputTop {
	height: 20px !important;
	background-color: #000 !important;
	text-indent: 0 !important;
	line-height: 20px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	overflow:hidden;
	}
.style_pj #outputBottom {
	background-color: #000 !important;
	height: 4px !important;
	}
.style_pj .sheet {
		padding:15px 24px;
		border-left: 2px #999 solid;
	}
.style_pj .first {
		padding:15px 25px !important;
		border-left: 0 !important;
	}


.printline span{
		width:7px;
		height:13px;
		font-size:13px;line-height:13px;
		background-image:url(pbfont_mini_black.gif);
		background-repeat: no-repeat;
		display:block;
		float:left;
		text-indent:-9999px;
}

.tab5 { width: 33px !important;}
.tab6 {	width: 40px !important;}

.chr00	{background-position:1px 0}
.chr01	{background-position:1px -10px}
.chr02	{background-position:1px -20px}
.chr03	{background-position:1px -30px}
.chr04	{background-position:1px -40px}
.chr05	{background-position:1px -50px}
.chr06 	{background-position:1px -60px}
.chr07	{background-position:1px -70px}
.chr08	{background-position:1px -80px}
.chr09	{background-position:1px -90px}
.chr0A	{background-position:1px -100px}
.chr0B	{background-position:1px	-110px}
.chr0C	{background-position:1px	-120px}
.chr0D	{background-position:1px	-130px}
.chr0E	{background-position:1px	-140px}
.chr0F	{background-position:1px	-150px}
.chr10	{background-position:1px	-160px}
.chr11	{background-position:1px	-170px}
.chr12	{background-position:1px	-180px}
.chr13	{background-position:1px	-190px}
.chr14	{background-position:1px	-200px}
.chr15	{background-position:1px	-210px}
.chr16	{background-position:1px	-220px}
.chr17	{background-position:1px	-230px}
.chr18	{background-position:1px	-240px}
.chr19	{background-position:1px	-250px}
.chr1A	{background-position:1px	-260px}
.chr1B	{background-position:1px	-270px}
.chr1C	{background-position:1px	-280px}
.chr1D	{background-position:1px	-290px}
.chr1E	{background-position:1px	-300px}
.chr1F	{background-position:1px	-310px}
.chr20	{background-position:1px	-320px}
.chr21	{background-position:1px	-330px}
.chr22	{background-position:1px	-340px}
.chr23	{background-position:1px	-350px}
.chr24	{background-position:1px	-360px}
.chr25	{background-position:1px	-370px}
.chr26	{background-position:1px	-380px}
.chr27	{background-position:1px	-390px}
.chr28	{background-position:1px	-400px}
.chr29	{background-position:1px	-410px}
.chr2A	{background-position:1px	-420px}
.chr2B	{background-position:1px	-430px}
.chr2C	{background-position:1px	-440px}
.chr2D	{background-position:1px	-450px}
.chr2E	{background-position:1px	-460px}
.chr2F	{background-position:1px	-470px}
.chr30	{background-position:1px	-480px}
.chr31	{background-position:1px	-490px}
.chr32	{background-position:1px	-500px}
.chr33	{background-position:1px	-510px}
.chr34	{background-position:1px	-520px}
.chr35	{background-position:1px	-530px}
.chr36	{background-position:1px	-540px}
.chr37	{background-position:1px	-550px}
.chr38	{background-position:1px	-560px}
.chr39	{background-position:1px	-570px}

.chr40	{background-position:1px	-640px}
.chr41	{background-position:1px	-650px}
.chr42	{background-position:1px	-660px}
.chr43	{background-position:1px	-670px}
.chr44	{background-position:1px	-680px}
.chr45	{background-position:1px	-690px}
.chr46	{background-position:1px	-700px}
.chr47	{background-position:1px	-710px}
.chr48	{background-position:1px	-720px}
.chr49	{background-position:1px	-730px}
.chr4A	{background-position:1px	-740px}
.chr4B	{background-position:1px	-750px}
.chr4C	{background-position:1px	-760px}
.chr4D	{background-position:1px	-770px}
.chr4E	{background-position:1px	-780px}
.chr4F	{background-position:1px	-790px}
.chr50	{background-position:1px	-800px}
.chr51	{background-position:1px	-810px}
.chr52	{background-position:1px	-820px}
.chr53	{background-position:1px	-830px}
.chr54	{background-position:1px	-840px}
.chr55	{background-position:1px	-850px}
.chr56	{background-position:1px	-860px}
.chr57	{background-position:1px	-870px}
.chr58	{background-position:1px	-880px}
.chr59	{background-position:1px	-890px}

.chr5A	{background-position:1px	-900px}
.chr5B	{background-position:1px	-910px}

.chr5C	{background-position:1px	-920px}
.chr5D	{background-position:1px	-930px}
.chr5E	{background-position:1px	-940px}
.chr5F	{background-position:1px	-950px}
.chr60	{background-position:1px	-960px}
.chr61	{background-position:1px	-970px}
.chr62	{background-position:1px	-980px}
.chr63	{background-position:1px	-990px}
.chr64	{background-position:1px	-1000px}
.chr65	{background-position:1px	-1010px}
.chr66	{background-position:1px	-1020px}
.chr67	{background-position:1px	-1030px}
.chr68	{background-position:1px	-1040px}
.chr69	{background-position:1px	-1050px}
.chr6A	{background-position:1px	-1060px}
.chr6B	{background-position:1px	-1070px}
.chr6C	{background-position:1px	-1080px}
.chr6D	{background-position:1px	-1090px}
.chr6E	{background-position:1px	-1100px}
.chr6F	{background-position:1px	-1110px}
.chr70	{background-position:1px	-1120px}
.chr71	{background-position:1px	-1130px}
.chr72	{background-position:1px	-1140px}
.chr73	{background-position:1px	-1150px}
.chr74	{background-position:1px	-1160px}
.chr75	{background-position:1px	-1170px}
.chr76	{background-position:1px	-1180px}
.chr77	{background-position:1px	-1190px}
.chr78	{background-position:1px	-1200px}
.chr79	{background-position:1px	-1210px}
.chr7A	{background-position:1px	-1220px}
.chr7B	{background-position:1px	-1230px}

.PB-120 .chr32	{background-position:1px	-590px}
.PB-120 .chr67	{background-position:1px	-600px}
.PB-120 .chr69	{background-position:1px	-610px}
.PB-120 .chr6A	{background-position:1px	-620px}
.PB-120 .chr6B	{background-position:1px	-630px}
