@charset "utf-8";
/*
 * CSS Document
 * 
 * PB Display Image
 * version 0.1.42
 * 
 * -- Supported Rendering mode --
 *   standard & quirks
 *  
 * -- Full Supported browser -- 
 *   firefox3.6, Iron8, Safari3.2, Opera9,10,11
 *   IE7,8(Use big-png when ActiveX disabled)
 * 
 * -- Part Supported browser --
 *   IE5.5, 6(Fake Opacity when ActiveX disabled)
 *   MacIE5.2(cursol don't work Opacity)
 *   
 * -- history --
 *  ver 0.1.4
 *    The check on ActiveX uses htc instead of css-expression.
 *    MacIE uses png-font x10. 
 *    
 *  ver 0.1.3
 *    True Opacity by big-png. IE7, 8(quirks mode)
 *    Fix ie6 don't work className overrie by css expression.
 *    True Opacity by alpha-image-loader for IE5.5,6
 * 
 *  ver 0.1.2
 *    fake Opacity when js disabled. IE5.5, 6, 7, 8(quirks mode)
 *    fake Opacity. MacIE5.2, IE8(ie8 mode)
 * 
 *  ver 0.1.1
 *    Support MacIE5.2(don't work Opacity)
 */


/*  Container
--------------------------------------------------------------------------------------*/
	.pbDisplay010-Container {
		width:					202px;
		height:					63px;
		position:				relative;
		behavior:				url('http://casio-pb-100.googlecode.com/svn/trunk/pbDisplayImageMaker/importCSS/1.x/checkActiveX.htc');
		-ms-behavior:			url('http://casio-pb-100.googlecode.com/svn/trunk/pbDisplayImageMaker/importCSS/1.x/checkActiveX.htc');
	}
	/*
		.htcは自ドメインに置かないと機能しない．
		pathはcssからの相対pathでなく、htmlからの相対pathとする。または絶対pathを使用する。
	*/
	
	/* Reset CSS for the case Embed to other Web Page */
	.pbDisplay010-Container span,
	.pbDisplay010-Container div {
		margin:					0;
		padding:				0;
	    border:					none;
		z-index:				0;
	}
	.pbDisplay010-Container br {
		display:				none;
	}
	
	.pbDisplay010 {
		padding:				5px 9px;
		text-indent:			-9999px;
		height:					100%;
		background-color:		#030D31;
		background-position:	9px -13px;
		background-repeat:		no-repeat; /* for IE6 */
		/*\*/	
		-webkit-border-radius:	7px;
		-opera-border-radius:	7px;
		-moz-border-radius:		7px;
		border-radius:			7px;
		_overflow:				hidden; /* for IE6 */
	}

/*  PB Display:Conditions
--------------------------------------------------------------------------------------*/
	.pbDisplay010 .ext,
	.pbDisplay010 .shift,
	.pbDisplay010 .function,
	.pbDisplay010 .run,
	.pbDisplay010 .wrt,
	.pbDisplay010 .deg,
	.pbDisplay010 .rad,
	.pbDisplay010 .gra,
	.pbDisplay010 .trace,
	.pbDisplay010 .prt,
	.pbDisplay010 .stop {
		display:			block;
		_width:				1px; /* for MacIE5 */
		height:				13px;
		line-height:		13px;	
		background-repeat:	no-repeat;
		background-color:	transparent;
		position:			absolute;
		top:				12px;	
	}
		.pbDisplay010 .ext {
			width: 11px;
			left: 15px;
			background-position:0 0;
		}
		.pbDisplay010 .shift,
		.pbDisplay010 .function {width: 7px;left:28px;}
			.pbDisplay010 .shift {background-position:-13px 0;}
			.pbDisplay010 .function {background-position:-23px 0;}
		.pbDisplay010 .run,
		.pbDisplay010 .wrt {width: 14px;left: 35px;	}
			.pbDisplay010 .run {background-position:-31px 0;}
			.pbDisplay010 .wrt {background-position:-47px 0;}
		.pbDisplay010 .deg,
		.pbDisplay010 .rad,
		.pbDisplay010 .gra {width: 13px;}
			.pbDisplay010 .deg {background-position:-63px 0;left: 51px;}
			.pbDisplay010 .rad {background-position:-78px 0;left: 63px;}
			.pbDisplay010 .gra {background-position:-93px 0;left: 75px;}
		.pbDisplay010 .trace {
			width: 8px;
			background-position:-108px 0;
			left: 90px;
		}
		.pbDisplay010 .prt {
			width: 12px;
			background-position:-118px 0;
			left: 144px;
		}
		.pbDisplay010 .stop {
			width: 17px;
			background-position:-132px 0;
			left: 160px;
		}

/*  PB Display:main
--------------------------------------------------------------------------------------*/
	.pbDisplay010 .CSR00,
	.pbDisplay010 .CSR01,
	.pbDisplay010 .CSR02,
	.pbDisplay010 .CSR03,
	.pbDisplay010 .CSR04,
	.pbDisplay010 .CSR05,
	.pbDisplay010 .CSR06,
	.pbDisplay010 .CSR07,
	.pbDisplay010 .CSR08,
	.pbDisplay010 .CSR09,
	.pbDisplay010 .CSR10,
	.pbDisplay010 .CSR11 {
		display:			block;
		width:				10px;
		height:				21px;
		background-repeat:	no-repeat;
		background-color:	transparent;
		position:			absolute;
		top:				32px;
	} 
	
	.pbDisplay010 .CSR00 {left:19px !important}
	.pbDisplay010 .CSR01 {left:33px !important}
	.pbDisplay010 .CSR02 {left:47px !important}
	.pbDisplay010 .CSR03 {left:61px !important}
	.pbDisplay010 .CSR04 {left:75px !important}
	.pbDisplay010 .CSR05 {left:89px !important}
	.pbDisplay010 .CSR06 {left:103px !important}
	.pbDisplay010 .CSR07 {left:117px !important}
	.pbDisplay010 .CSR08 {left:131px !important}
	.pbDisplay010 .CSR09 {left:145px !important}
	.pbDisplay010 .CSR10 {left:159px !important}
	.pbDisplay010 .CSR11 {left:173px !important}
	
/*  Charactor code
--------------------------------------------------------------------------------------*/
	.pbDisplay010 .chr00 {background-position:0 0}
	.pbDisplay010 .chr01 {background-position:0 -30px}
	.pbDisplay010 .chr02 {background-position:0 -60px}
	.pbDisplay010 .chr03 {background-position:0 -90px}
	.pbDisplay010 .chr04 {background-position:0 -120px}
	.pbDisplay010 .chr05 {background-position:0 -150px}
	.pbDisplay010 .chr06 {background-position:0 -180px}
	.pbDisplay010 .chr07 {background-position:0 -210px}
	.pbDisplay010 .chr08 {background-position:0 -240px}
	.pbDisplay010 .chr09 {background-position:0 -270px}
	.pbDisplay010 .chr0A {background-position:0 -300px}
	.pbDisplay010 .chr0B {background-position:0 -330px}
	.pbDisplay010 .chr0C {background-position:0 -360px}
	.pbDisplay010 .chr0D {background-position:0 -390px}
	.pbDisplay010 .chr0E {background-position:0 -420px}
	.pbDisplay010 .chr0F {background-position:0 -450px}
	.pbDisplay010 .chr10 {background-position:0 -480px}
	.pbDisplay010 .chr11 {background-position:0 -510px}
	.pbDisplay010 .chr12 {background-position:0 -540px}
	.pbDisplay010 .chr13 {background-position:0 -570px}
	.pbDisplay010 .chr14 {background-position:0 -600px}
	.pbDisplay010 .chr15 {background-position:0 -630px}
	.pbDisplay010 .chr16 {background-position:0 -660px}
	.pbDisplay010 .chr17 {background-position:0 -690px}
	.pbDisplay010 .chr18 {background-position:0 -720px}
	.pbDisplay010 .chr19 {background-position:0 -750px}
	.pbDisplay010 .chr1A {background-position:0 -780px}
	.pbDisplay010 .chr1B {background-position:0 -810px}
	.pbDisplay010 .chr1C {background-position:0 -840px}
	.pbDisplay010 .chr1D {background-position:0 -870px}
	.pbDisplay010 .chr1E {background-position:0 -900px}
	.pbDisplay010 .chr1F {background-position:0 -930px}
	.pbDisplay010 .chr20 {background-position:0 -960px}
	.pbDisplay010 .chr21 {background-position:0 -990px}
	.pbDisplay010 .chr22 {background-position:0 -1020px}
	.pbDisplay010 .chr23 {background-position:0 -1050px}
	.pbDisplay010 .chr24 {background-position:0 -1080px}
	.pbDisplay010 .chr25 {background-position:0 -1110px}
	.pbDisplay010 .chr26 {background-position:0 -1140px}
	.pbDisplay010 .chr27 {background-position:0 -1170px}
	.pbDisplay010 .chr28 {background-position:0 -1200px}
	.pbDisplay010 .chr29 {background-position:0 -1230px}
	.pbDisplay010 .chr2A {background-position:0 -1260px}
	.pbDisplay010 .chr2B {background-position:0 -1290px}
	.pbDisplay010 .chr2C {background-position:0 -1320px}
	.pbDisplay010 .chr2D {background-position:0 -1350px}
	.pbDisplay010 .chr2E {background-position:0 -1380px}
	.pbDisplay010 .chr2F {background-position:0 -1410px}
	.pbDisplay010 .chr30 {background-position:0 -1440px}
	.pbDisplay010 .chr31 {background-position:0 -1470px}
	.pbDisplay010 .chr32 {background-position:0 -1500px}
	.pbDisplay010 .chr33 {background-position:0 -1530px}
	.pbDisplay010 .chr34 {background-position:0 -1560px}
	.pbDisplay010 .chr35 {background-position:0 -1590px}
	.pbDisplay010 .chr36 {background-position:0 -1620px}
	.pbDisplay010 .chr37 {background-position:0 -1650px}
	.pbDisplay010 .chr38 {background-position:0 -1680px}
	.pbDisplay010 .chr39 {background-position:0 -1710px}
	
	.pbDisplay010 .chr40 {background-position:0 -1920px}
	.pbDisplay010 .chr41 {background-position:0 -1950px}
	.pbDisplay010 .chr42 {background-position:0 -1980px}
	.pbDisplay010 .chr43 {background-position:0 -2010px}
	.pbDisplay010 .chr44 {background-position:0 -2040px}
	.pbDisplay010 .chr45 {background-position:0 -2070px}
	.pbDisplay010 .chr46 {background-position:0 -2100px}
	.pbDisplay010 .chr47 {background-position:0 -2130px}
	.pbDisplay010 .chr48 {background-position:0 -2160px}
	.pbDisplay010 .chr49 {background-position:0 -2190px}
	.pbDisplay010 .chr4A {background-position:0 -2220px}
	.pbDisplay010 .chr4B {background-position:0 -2250px}
	.pbDisplay010 .chr4C {background-position:0 -2280px}
	.pbDisplay010 .chr4D {background-position:0 -2310px}
	.pbDisplay010 .chr4E {background-position:0 -2340px}
	.pbDisplay010 .chr4F {background-position:0 -2370px}
	.pbDisplay010 .chr50 {background-position:0 -2400px}
	.pbDisplay010 .chr51 {background-position:0 -2430px}
	.pbDisplay010 .chr52 {background-position:0 -2460px}
	.pbDisplay010 .chr53 {background-position:0 -2490px}
	.pbDisplay010 .chr54 {background-position:0 -2520px}
	.pbDisplay010 .chr55 {background-position:0 -2550px}
	.pbDisplay010 .chr56 {background-position:0 -2580px}
	.pbDisplay010 .chr57 {background-position:0 -2610px}
	.pbDisplay010 .chr58 {background-position:0 -2640px}
	.pbDisplay010 .chr59 {background-position:0 -2670px} 
	
	.pbDisplay010 .chr5C {background-position:0 -2760px}
	.pbDisplay010 .chr5D {background-position:0 -2790px}
	.pbDisplay010 .chr5E {background-position:0 -2820px}
	.pbDisplay010 .chr5F {background-position:0 -2850px}
	.pbDisplay010 .chr60 {background-position:0 -2880px}
	.pbDisplay010 .chr61 {background-position:0 -2910px}
	.pbDisplay010 .chr62 {background-position:0 -2940px}
	.pbDisplay010 .chr63 {background-position:0 -2970px}
	.pbDisplay010 .chr64 {background-position:0 -3000px}
	.pbDisplay010 .chr65 {background-position:0 -3030px}
	.pbDisplay010 .chr66 {background-position:0 -3060px}
	.pbDisplay010 .chr67 {background-position:0 -3090px}
	.pbDisplay010 .chr68 {background-position:0 -3120px}
	.pbDisplay010 .chr69 {background-position:0 -3150px}
	.pbDisplay010 .chr6A {background-position:0 -3180px}
	.pbDisplay010 .chr6B {background-position:0 -3210px}
	.pbDisplay010 .chr6C {background-position:0 -3240px}
	.pbDisplay010 .chr6D {background-position:0 -3270px}
	.pbDisplay010 .chr6E {background-position:0 -3300px}
	.pbDisplay010 .chr6F {background-position:0 -3330px}
	.pbDisplay010 .chr70 {background-position:0 -3360px}
	.pbDisplay010 .chr71 {background-position:0 -3390px}
	.pbDisplay010 .chr72 {background-position:0 -3420px}
	.pbDisplay010 .chr73 {background-position:0 -3450px}
	.pbDisplay010 .chr74 {background-position:0 -3480px}
	.pbDisplay010 .chr75 {background-position:0 -3510px}
	.pbDisplay010 .chr76 {background-position:0 -3540px}
	.pbDisplay010 .chr77 {background-position:0 -3570px}
	.pbDisplay010 .chr78 {background-position:0 -3600px}
	.pbDisplay010 .chr79 {background-position:0 -3630px}
	.pbDisplay010 .chr7A {background-position:0 -3660px}
	
	/* cursol */
	.pbDisplay010 .chrCS {background-position:0 -2700px}
	
	/* FX-795P */
	.pbDisplay010 .chr7B {background-position:0 -3690px}
	
	/* PB-120 */
	.PB-120  .pbDisplay010 .chr00,
	.FX-795P .pbDisplay010 .chr00 {background-position:0 -1740px}
	.PB-120  .pbDisplay010 .chr32,
	.FX-795P .pbDisplay010 .chr32 {background-position:0 -1770px}
	.PB-120  .pbDisplay010 .chr67,
	.FX-795P .pbDisplay010 .chr67 {background-position:0 -1800px}
	.PB-120  .pbDisplay010 .chr69,
	.FX-795P .pbDisplay010 .chr69 {background-position:0 -1830px}
	.PB-120  .pbDisplay010 .chr6A,
	.FX-795P .pbDisplay010 .chr6A {background-position:0 -1860px}
	.PB-120  .pbDisplay010 .chr6B,
	.FX-795P .pbDisplay010 .chr6B {background-position:0 -1890px}
	
/*  Opacity
--------------------------------------------------------------------------------------*/
	.pbDisplay010 .op1 {
		-moz-opacity:					0.1;
		opacity:						0.1;
		*background-position-x:			-180px;
		z-index:						1; /* ie5.5,6 & MacIE */		
	}
	.pbDisplay-ActiveX-enabled .op1 {
		filter:							alpha(opacity=10);
		-ms-filter:						alpha(opacity=10);		
	}	
	html>/**/body .pbDisplay010 .op1 {
		background-position-x/*\**/:	-180px\9; /* ie8 (ie8mode) */
	}
	
	.pbDisplay010 .op2 {
		-moz-opacity:					0.2;
		opacity:						0.2;
		*background-position-x:			-160px;
		z-index:						2;				
	}
	.pbDisplay-ActiveX-enabled .op2 {
		filter:							alpha(opacity=20);
		-ms-filter:						alpha(opacity=20);		
	}
	html>/**/body .pbDisplay010 .op2 {
		background-position-x/*\**/:	-160px\9;
	}
	
	.pbDisplay010 .op3 {
		-moz-opacity:					0.3;
		opacity:						0.3;
		*background-position-x:			-140px;
		z-index:						3;				
	}
	.pbDisplay-ActiveX-enabled .op3 {
		filter:							alpha(opacity=30);
		-ms-filter:						alpha(opacity=30);		
	}
	html>/**/body .pbDisplay010 .op3 {
		background-position-x/*\**/:	-140px\9;
	}
	
	.pbDisplay010 .op4 {
		-moz-opacity:					0.4;
		opacity:						0.4;
		*background-position-x:			-120px;
		z-index:						4;				
	}
	.pbDisplay-ActiveX-enabled .op4 {
		filter:							alpha(opacity=40);
		-ms-filter:						alpha(opacity=40);		
	}
	html>/**/body .pbDisplay010 .op4 {
		background-position-x/*\**/:	-120px\9;
	}
	
	.pbDisplay010 .op5 {
		-moz-opacity:					0.5;
		opacity:						0.5;
		*background-position-x:			-100px;
		z-index:						5;				
	}
	.pbDisplay-ActiveX-enabled .op5 {
		filter:							alpha(opacity=50);
		-ms-filter:						alpha(opacity=50);
	}
	html>/**/body .pbDisplay010 .op5 {
		background-position-x/*\**/:	-100px\9;
	}
	
	.pbDisplay010 .op6 {
		-moz-opacity:					0.6;
		opacity:						0.6;
		*background-position-x:			-80px;
		z-index:						6;				
	}
	.pbDisplay-ActiveX-enabled .op6 {
		filter:							alpha(opacity=60);
		-ms-filter:						alpha(opacity=60);		
	}
	html>/**/body .pbDisplay010 .op6 {
		background-position-x/*\**/:	-80px\9;
	}
	
	.pbDisplay010 .op7 {
		-moz-opacity:					0.7;
		opacity:						0.7;
		*background-position-x:			-60px;
		z-index:						7;			
	}
	.pbDisplay-ActiveX-enabled .op7 {
		filter:							alpha(opacity=70);
		-ms-filter:						alpha(opacity=70);		
	}
	html>/**/body .pbDisplay010 .op7 {
		background-position-x/*\**/:	-60px\9;
	}
	
	.pbDisplay010 .op8 {
		-moz-opacity:					0.8;
		opacity:						0.8;
		*background-position-x			-40px;
		z-index:						8;			
	}
	.pbDisplay-ActiveX-enabled .op8 {
		filter:							alpha(opacity=80);
		-ms-filter:						alpha(opacity=80);		
	}
	html>/**/body .pbDisplay010 .op8 {
		background-position-x/*\**/:	-40px\9;
	}
	
	.pbDisplay010 .op9 {
		-moz-opacity:					0.9;
		opacity:						0.9;
		*background-position-x:			-20px;
		z-index:						9;
	}
	.pbDisplay-ActiveX-enabled .op9 {
		filter:							alpha(opacity=90);
		-ms-filter:						alpha(opacity=90);		
	}
	html>/**/body .pbDisplay010 .op9 {
		background-position-x/*\**/:	-20px\9;
	}

/*  background-image
--------------------------------------------------------------------------------------*/
	.pbDisplay010,
	.pbDisplay010 .ext,
	.pbDisplay010 .shift,
	.pbDisplay010 .function,
	.pbDisplay010 .run,
	.pbDisplay010 .wrt,
	.pbDisplay010 .deg,
	.pbDisplay010 .rad,
	.pbDisplay010 .gra,
	.pbDisplay010 .trace,
	.pbDisplay010 .prt,
	.pbDisplay010 .stop {
		background-image:		url(pbDisplay0.1.0.gif);
	}
	.pbDisplay010 .CSR00,
	.pbDisplay010 .CSR01,
	.pbDisplay010 .CSR02,
	.pbDisplay010 .CSR03,
	.pbDisplay010 .CSR04,
	.pbDisplay010 .CSR05,
	.pbDisplay010 .CSR06,
	.pbDisplay010 .CSR07,
	.pbDisplay010 .CSR08,
	.pbDisplay010 .CSR09,
	.pbDisplay010 .CSR10,
	.pbDisplay010 .CSR11 {
		background-image:		url(pbfont_x3_0.1.0.gif); /* modern browser */
		/*\*/
		_background-image:		url(pbfont_x3_x10.gif);/*  ie5.5,6 ActiveX disabled */
		
	}
	html>body .pbDisplay010 .CSR00,
	html>body .pbDisplay010 .CSR01,
	html>body .pbDisplay010 .CSR02,
	html>body .pbDisplay010 .CSR03,
	html>body .pbDisplay010 .CSR04,
	html>body .pbDisplay010 .CSR05,
	html>body .pbDisplay010 .CSR06,
	html>body .pbDisplay010 .CSR07,
	html>body .pbDisplay010 .CSR08,
	html>body .pbDisplay010 .CSR09,
	html>body .pbDisplay010 .CSR10,
	html>body .pbDisplay010 .CSR11 {
		background-image/*\**/:			url(pbfont_x3_x10.png)\9; /* ie7,8 ActiveX disabled */
	}
/*   fake opacity for cursol when ActiveX disabled. (winIE)
--------------------------------------------------------------------------------------*/
	.pbDisplay010 .chrCS {
		*background-position-y:			18px;
		*background-image:				url(pbfont_x3_x10_cs.gif);
	}
	
	html>body .pbDisplay010-Container .chrCS { /* ie7,8 */
		background-position-y/*\**/:	18px\9;
		background-image/*\**/:			url(pbfont_x3_x10_cs.gif)\9;
		z-index/*\**/:					0\9;
	}

/*   True Opacity by ActiveX. (winIE)
--------------------------------------------------------------------------------------*/
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR00,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR01,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR02,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR03,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR04,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR05,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR06,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR07,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR08,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR09,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR10,
	.pbDisplay-ActiveX-enabled .pbDisplay010 .CSR11 {
		background-image:				url(pbfont_x3_0.1.0.gif) !important; /* !important is for ie7,8 */
		background-position-x:			0 !important;
	}
	
	/* override cursol */
	.pbDisplay-ActiveX-enabled .chrCS {
		background-position-y:			-2700px !important;
	}

/*   image x10 Opacity for MacIE
 *     MacIE support png, ignore background-position-x[y].
--------------------------------------------------------------------------------------*/	
	/*\*//*/
	.pbDisplay010 .op1 {
		background-image:	url(pbfont_x3_10pct.png) !important;
	}
	.pbDisplay010 .op2 {
		background-image:	url(pbfont_x3_20pct.png) !important;
	}
	.pbDisplay010 .op3 {
		background-image:	url(pbfont_x3_30pct.png) !important;
	}
	.pbDisplay010 .op4 {
		background-image:	url(pbfont_x3_40pct.png) !important;
	}
	.pbDisplay010 .op5 {
		background-image:	url(pbfont_x3_50pct.png) !important;
	}
	.pbDisplay010 .op6 {
		background-image:	url(pbfont_x3_60pct.png) !important;
	}
	.pbDisplay010 .op7 {
		background-image:	url(pbfont_x3_70pct.png) !important;
	}
	.pbDisplay010 .op8 {
		background-image:	url(pbfont_x3_80pct.png) !important;
	}
	.pbDisplay010 .op9 {
		background-image:	url(pbfont_x3_90pct.png) !important;
	}
	.pbDisplay010 .chrCS {
		background-image:	url(pbfont_x3_0.1.0.gif) !important;
		z-index;			0 !important;
	}
	/**/
		